.main {}

.button {
    -fx-cursor: hand;
    -fx-border-color: #c6c6c6;
    -fx-border-radius: 5px;
}

.button:hover{
    -fx-border-color: #373737;
}

.choice-box:hover{
    -fx-border-color: #373737;
}

.clickable:hover {
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.sheetDouble {
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 10px
}

.sheetPane {
    -fx-effect: null;
}

.menu-item:disabled {
    -fx-opacity: 1.0;
}

.menu-item:disabled .label {
    -fx-opacity: 1.0;
}

.context-menu-title:disabled:hover {
    -fx-background-color: white;
}

.context-menu-title:disabled:hover .label {
    -fx-background-color: white;
    -fx-text-fill: black;
}
